li {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 4px;
  text-align: left;
}

.description {
  margin: 0;
}

p {
  cursor: pointer;
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.delete {
  background-color: red;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 17px;
  cursor: pointer;
}

.tachado {
  text-decoration: line-through;
  text-decoration-color: deepskyblue;
}

fa-icon {
  cursor: pointer;
  color: #ffbe00;
  margin-left: auto;
  margin-right: 18px;
}
